/**
 *
 * Author : Pierre-Louis Delcroix (pierrelouisdelx)
 * Github : @pierrelouisdelx
 * 
 * Colors
 **/

* {
    background:     #000E29FF;
    background-alt: #030727FF;
    foreground:     #BBC2CFFF;
    selected:       #51AFEFFF;
    active:         #FFFF00FF;
    urgent:         #FF0000FF;
}

